{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    {% if view_mode == 'variant'%}<h3>
    {% endif %}
    {{ content.resourcehub_external_link }}
    {% if view_mode == 'variant'%}</h3>
    {% endif %}
      {{ content.resourcehub_link_summary }}
    {% endblock %}
  </div>
{% endblock paragraph %}
