.breadcrumb li{
  width: 100%;
  @extend .small;
  &:before {
    content: url('../../dist/images/arrow.svg');
    padding: 0 $spacing/4;
  }
}

.breadcrumb {
  width: 100%;
  margin-bottom: $spacing;
}
