.breadcrumb li{
  width: 100%;
  @extend .small;
  &:before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background:url('../../assets/arrow.svg') center 100% no-repeat;

  }
}

.breadcrumb {
  width: 100%;
  margin-bottom: $spacing;
}
