.block-resourcehub-back-to-site {
  a {
    text-decoration: none;
    @extend .small;
    &:after {
      content: url('../../dist/images/arrow.svg');
      padding: 0 $spacing/2;
    }
  }
}

.block-system-branding-block {
  display: flex;
  align-items: center;
  @include screen('sm') {
    max-width: 50%;
  }
  @include screen('md') {
    max-width: 40%;
    display: flex;
    display: grid;
  }
  > a {
    padding-right: $spacing;
  }
  .site-logo {
    grid-row: 1 ;
  }
  .site-name {
    grid-column: 2;
  }
  .site-slogan {
    display: none;
  }
}

.region-header {
  .block + .block {
    margin-top: $spacing;
  }
  @include screen('sm') {
    .block + .block {
      margin-top: 0;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-name a{
  font-weight: 500;
  // font-size: 1.25rem;
  margin-bottom: 0;
  text-decoration: none;
  @include screen('md') {
    font-size: 1.25rem;
  }
}

a.site-logo {
  max-width: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
  align-items: center;
  line-height: 0;
  @include screen('md') {
    max-width: 200px;
  }
  &:hover, &:focus {
    background-color: transparent;
  }
}

#block-resourcehub-search {
  @include screen('md') {
    max-width: 40%;
  }
}
