table {
  color: #0b0c0c;
  width: 100%;
  margin-block: $spacing*2;
  border-spacing: 0;
  border-collapse: collapse;
}

thead th{
  font-weight: 700;
}

thead th,
tbody th,
tbody td{
  padding: $spacing;
  padding-left: 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
}

table caption {
  font-weight: 700;
  display: table-caption;
  text-align: left;
  @include screen('md') {
    margin-bottom: 15px;
  }
}
